<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add a task..." required/>
                <button type="submit">Add Task</button>
            </form>
            <ul>
                <% todos.forEach(function(task){ %>
                    <li><%= task.item %></li>
                <% }) %>
            </ul>
        </div>
        <script type="text/javascript" src="assets/todo-list.js"></script>
    </body>
</html>